.recipe{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    line-height: 20px;
    margin-left: -25px;
}
.about{
    
    padding: 40px;
    font-size: large;
    font-family: comic Sans Ms;
    line-height: 1.6;
    
}
.header-image {
    width: 100%;
    height: 400px;
}
.slogan {
    position: relative;
    color: #08490d;
    bottom: 300;
    margin-left: 250px;
    margin-top: 80px;
    font-family: Comic Sans MS;
    font-size: xx-large;
}
body{
 background-color: #c7daa9;;
}
img{
    cursor: pointer;
}